<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <header>About us</header>
    <main class="container">
      <div class="text-container">
        <p>
          Ми — команда з трьох товаришів, які вирішили підкорити Spring
          Framework.
          <br />
          Чесно кажучи, спочатку ми думали, що “Spring” — це про теплу пору
          року і пікніки, але швидко зрозуміли, що тут буде більше коду, ніж
          шашликів.
        </p>
        <div>
          <p>Кожен із нас має свою роль:</p>
          <br />
          <ul>
            <li>
              Один читає документацію і робить вигляд, що все зрозумів.Один
              читає документацію і робить вигляд, що все зрозумів.
            </li>
            <li>
              Другий шукає відповіді на StackOverflow і каже: “Та тут усе
              просто!”.
            </li>
            <li>
              Третій нервово дивиться на error 500 і задумується, чи не краще
              було б піти в дизайн.
            </li>
          </ul>
        </div>
        <p>
          Разом ми — ідеальний мікс ентузіазму, самоіронії та кави. Наша
          головна мета — не тільки вивчити Spring, а й залишитися друзями після
          перших 10 NullPointerException.
        </p>
      </div>
      <div class="img-container">
        <img src="/img/spring_logo.png" alt="" />
      </div>
    </main>
    <a href="members">
      <button class="btn">Watch members</button>
    </a>
  </body>
</html>
