<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/members_styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <title>Spring Hello World</title>
  </head>
  <body>
    <header>Hello Spring</header>
    <main class="container">
      <div class="student-card">
        <div class="img-container">
          <img class="student-avatar" src="/img/valerii.png" alt="" />
        </div>

        <div class="text-container">
          <p class="student-name">Прядченко Валерій ІП-33</p>

          <p class="student-description">
            Я люблю природу, спорт, кодінг та бесіди за чашкою чаю про нескінченно вічне.
            Люблю спостерігати за роботою майстрів і самостійно робити справи якісно.
            Обожнюю подорожувати з друзями та потрапляти в цікаві історії.
             А ще я літаю, безсмертний і б'ю блискавками с пальців:)
          </p>
        </div>
      </div>
      <div class="student-card">
        <div class="img-container">
          <img class="student-avatar" src="/img/valerii.png" alt="" />
        </div>

        <div class="text-container">
          <p class="student-name">Лодатко Олександр ІП-33</p>

          <p class="student-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
          </p>
        </div>
      </div>
      <div class="student-card">
        <div class="img-container">
          <img class="student-avatar" src="/img/denya.jpg" alt="" />
        </div>

        <div class="text-container">
          <p class="student-name">Гарковенко Денис ІП-33</p>

          <p class="student-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
          </p>
        </div>
      </div>
    </main>
    <a href="/">
      <button class="btn">Go back</button>
    </a>
  </body>
</html>
